<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link th:replace="~{components/BootstrapImports}">
    <link href="/css/nice-form.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{components/nav}"></header>

<main>
    <div th:unless="${student == null}">
        <div class="container">
            <form th:action="${action}" th:object="${student}" th:method="${mode.equals('info')} ? 'get' : 'post'">
                <div class="mb-3">
                    <label for="name" class="form-label">First Name</label>
                    <input type="text" th:class="${#fields.hasErrors('name')} ? 'error form-control' : 'form-control'" id="name" th:field="*{name}" th:readonly="${mode.equals('info')}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Last Name</label>
                    <input type="text" th:class="${#fields.hasErrors('surname')} ? 'error form-control' : 'form-control'" id="surname" th:field="*{surname}" th:readonly="${mode.equals('info')}">
                    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></span>
                </div>
                <div>
                    <label for="age" class="form-label">Age</label>
                    <input type="number" th:class="${#fields.hasErrors('age')} ? 'error form-control' : 'form-control'" id="age" th:field="*{age}" th:readonly="${mode.equals('info')}">
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" th:class="${#fields.hasErrors('email')} ? 'error form-control' : 'form-control'" id="email" th:field="*{email}" th:readonly="${mode.equals('info')}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                </div>
                <button th:if="${mode.equals('edit')}" type="submit" class="btn btn-primary">Save Changes</button>
                <button th:if="${mode.equals('add')}" type="submit" class="btn btn-primary">Register</button>
                <span th:if="${mode.equals('info')}"><a class="btn" th:href="@{/student/edit/{id}(id=${student.getId()})}">✏</a> <a class="btn" th:href="@{/student/delete/{id}(id=${student.getId()})}">🗑</a></span>
            </form>
        </div>
    </div>
    <div th:if="${student == null}">
        <h1>Unknown Student</h1>
    </div>
</main>
</body>
</html>