<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link th:replace="~{components/BootstrapImports}">
</head>
<body>
<header th:replace="~{components/nav}"></header>

<main>
    <div th:unless="${student == null}">
        <div class="container" th:if='${mode.equals("info")}'>
            <h1><span th:text="${student.getName()}"></span> <span th:text="${student.getSurname()}"></span> <a class="btn" th:href="@{/student/edit/{id}(id=${student.getId()})}">✏</a> <a class="btn" th:href="@{/student/delete/{id}(id=${student.getId()})}">🗑</a> </h1>
            <hr>
            <p><span th:text="${student.getAge()}"></span>yo</p>
            <p>email: <a th:href="@{mailto:{mail}(mail=${student.getEmail()})}" th:text="${student.getEmail()}"></a></p>
        </div>
        <div class="container" th:unless='${mode.equals("info")}'>
            <form th:action="@{/student/edit/{id}(id=${student.getId()})}" th:object="${student}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">FirstName</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">LastName</label>
                    <input type="text" class="form-control" id="surname" th:field="*{surname}">
                    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></span>
                </div>
                <div>
                    <label for="age" class="form-label">age</label>
                    <input type="number" class="form-control" id="age" th:field="*{age}">
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                </div>
                <button type="submit" class="btn btn-primary">Modify</button>
            </form>
        </div>
    </div>
    <div th:if="${student == null}">
        <h1>Unknown Student</h1>
    </div>
</main>
</body>
</html>