<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="~{/components/BootstrapImports}">
    <link href="/css/nav.css" rel="stylesheet">
</head>
<body>
<th:block th:fragment="navImports">
    <header>
        <nav class="one">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/todo}">ToDo</a>
            <a th:href="@{/student}">Students</a>
        </nav>
        <div>
            <a th:unless="${session.getOrDefault('isLoggedIn', false)}" href="/login" class="btn btn-light">Login</a>
            <a th:if="${session.getOrDefault('isLoggedIn', false)}" href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </header>
</th:block>
</body>
</html>